@import './all.min.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Agrega esto a tu archivo CSS */
.modal-content {
    transform: translateY(-100%); /* Fuera de la pantalla en la parte superior */
    opacity: 0;
    transition: transform 0.5s ease-out, opacity 0.5s ease-out; /* Animación suave de desplazamiento */
}

.modal-content.show {
    transform: translateY(0); /* Mueve el modal al centro de la pantalla */
    opacity: 1;
}